
.agregar-vuelo-btn {
    text-align: center;
    font-size: 16px;
    height: 40px;
    width: 150px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    background-color: #2563ea;
    color: white;
}

.vuelos-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*Cards Cards Cards Cards Cards Cards Cards Cards Cards Cards*/

